<html lang='en'>
  <meta charset='UTF-8' />
  <title>Giphy</title>
  <meta name='viewport' content='width=device-width,initial-scale=1' />
  <link rel='stylesheet' href='' />
  <style>
  </style>
  <script src=''></script>
  <body>
    <h1>Giphy Search</h1>
    <form action='/search' method='POST'>
      <input type='text' name='giphy-query' placeholder='Search Giphy...' />
      <input type='submit' value='Search' />
    </form>
  </body>
</html>
